In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_excel("KPMG_1.xlsx",sheet_name='NewCustomerList')
df

,Note: The data and information in this document is reflective of a hypothetical situation and client. This document is to be used for KPMG Virtual Internship purposes only.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,...,state,country,property_valuation,NaN,NaN,NaN,NaN,NaN,Rank,Value
1,Chickie,Brister,Male,86,1957-07-12,General Manager,Manufacturing,Mass Customer,N,Yes,...,QLD,Australia,6,0.56,0.7000,0.875000,0.743750,1.0,1,1.71875
2,Morly,Genery,Male,69,1970-03-22,Structural Engineer,Property,Mass Customer,N,No,...,NSW,Australia,11,0.48,0.4800,0.600000,0.510000,1.0,1,1.71875
3,Ardelis,Forrester,Female,10,1974-08-28 00:00:00,Senior Cost Accountant,Financial Services,Affluent Customer,N,No,...,VIC,Australia,5,0.91,0.9100,0.910000,0.910000,1.0,1,1.71875
4,Lucine,Stutt,Female,64,1979-01-28,Account Representative III,Manufacturing,Affluent Customer,N,Yes,...,QLD,Australia,1,0.64,0.8000,0.800000,0.800000,4.0,4,1.70312
5,Melinda,Hadlee,Female,34,1965-09-21,Financial Analyst,Financial Services,Affluent Customer,N,No,...,NSW,Australia,9,0.40,0.4000,0.500000,0.500000,4.0,4,1.70312
6,Druci,Brandli,Female,39,1951-04-29,Assistant Media Planner,Entertainment,High Net Worth,N,Yes,...,QLD,Australia,7,0.46,0.5750,0.575000,0.575000,6.0,6,1.67188
7,Rutledge,Hallt,Male,23,1976-10-06,Compensation Analyst,Financial Services,Mass Customer,N,No,...,NSW,Australia,7,0.71,0.7100,0.710000,0.603500,6.0,6,1.67188
8,Nancie,Vian,Female,74,1972-12-27,Human Resources Assistant II,Retail,Mass Customer,N,Yes,...,QLD,Australia,5,1.00,1.2500,1.250000,1.062500,8.0,8,1.65625
9,Duff,Karlowicz,Male,50,1972-04-28,Speech Pathologist,Manufacturing,Mass Customer,N,Yes,...,NSW,Australia,10,0.56,0.7000,0.875000,0.743750,8.0,8,1.65625
10,Barthel,Docket,Male,72,1985-08-02,Accounting Assistant IV,IT,Mass Customer,N,Yes,...,QLD,Australia,5,0.72,0.9000,0.900000,0.765000,10.0,10,1.64062
11,Rockwell,Matson,Male,94,1995-01-01,Programmer Analyst I,Retail,High Net Worth,N,No,...,QLD,Australia,6,1.02,1.0200,1.275000,1.275000,10.0,10,1.64062
12,Wheeler,Winward,Male,48,1999-08-30,Environmental Specialist,Manufacturing,Mass Customer,N,No,...,VIC,Australia,8,1.07,1.0700,1.070000,0.909500,12.0,12,1.625
13,Olag,NaN,Male,60,1990-05-13,Human Resources Manager,Telecommunications,Mass Customer,N,No,...,NSW,Australia,11,0.45,0.4500,0.562500,0.478125,13.0,13,1.60938
14,Melba,Spellacy,Female,38,1976-12-09,VP Marketing,Health,Mass Customer,N,No,...,NSW,Australia,10,0.94,0.9400,1.175000,0.998750,14.0,14,1.59375
15,Mandie,Feares,Female,32,1964-04-19,Clinical Specialist,Health,Mass Customer,N,No,...,QLD,Australia,8,0.86,0.8600,0.860000,0.731000,14.0,14,1.59375
16,Dukie,Swire,Male,88,1954-03-31,NaN,Manufacturing,Affluent Customer,N,Yes,...,NSW,Australia,8,0.86,1.0750,1.343750,1.343750,16.0,16,1.5625
17,Marcelia,Monkleigh,Female,61,1993-08-22,Associate Professor,Manufacturing,Mass Customer,N,Yes,...,QLD,Australia,6,0.87,1.0875,1.087500,0.924375,17.0,17,1.54688
18,Winnifred,Beswetherick,Female,83,1976-06-08 00:00:00,Actuary,Financial Services,Mass Customer,N,No,...,VIC,Australia,10,0.86,0.8600,1.075000,0.913750,17.0,17,1.54688
19,Odilia,Quick,Female,65,1938-11-09,General Manager,Manufacturing,Affluent Customer,N,Yes,...,NSW,Australia,11,0.93,1.1625,1.453125,1.453125,19.0,19,1.53125
20,Karly,Willavize,Female,2,1954-08-12,Internal Auditor,Manufacturing,High Net Worth,N,No,...,NSW,Australia,10,0.58,0.5800,0.725000,0.725000,19.0,19,1.53125
21,Teddie,Burchill,Male,11,1968-12-21,Programmer I,Manufacturing,Mass Customer,N,Yes,...,NSW,Australia,9,0.83,1.0375,1.296875,1.102344,21.0,21,1.51562
22,Gaston,Dallaghan,Male,44,1993-09-29,Financial Analyst,Financial Services,Mass Customer,N,Yes,...,NSW,Australia,7,0.79,0.9875,0.987500,0.839375,21.0,21,1.51562
23,Otis,Ottey,Male,26,1998-02-05,Quality Engineer,NaN,Mass Customer,N,No,...,QLD,Australia,4,0.69,0.6900,0.690000,0.586500,23.0,23,1.5
24,Tabbatha,Averill,Female,5,1977-12-17 00:00:00,Quality Control Specialist,NaN,Affluent Customer,N,Yes,...,NSW,Australia,8,0.46,0.5750,0.575000,0.575000,23.0,23,1.5
25,Brena,Schnitter,Female,78,1982-10-11,Account Executive,Manufacturing,Mass Customer,N,No,...,QLD,Australia,5,0.73,0.7300,0.730000,0.620500,25.0,25,1.48438
26,Rourke,Gillbard,Male,11,1945-08-03,NaN,Property,Mass Customer,N,No,...,QLD,Australia,4,0.74,0.7400,0.740000,0.629000,26.0,26,1.46875
27,Dyane,Burwell,Female,19,1952-06-27,Engineer II,Retail,Mass Customer,N,Yes,...,NSW,Australia,2,0.48,0.6000,0.600000,0.510000,26.0,26,1.46875
28,Claudine,Barstowk,Female,71,1966-07-20,Nurse,Property,High Net Worth,N,Yes,...,QLD,Australia,11,0.57,0.7125,0.890625,0.890625,26.0,26,1.46875
29,Blinnie,Roze,Female,84,1960-12-10,Librarian,Entertainment,High Net Worth,N,No,...,QLD,Australia,7,0.47,0.4700,0.587500,0.587500,26.0,26,1.46875
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
971,Mavra,Finan,Female,30,1967-08-23,Nurse,Property,Affluent Customer,N,Yes,...,NSW,Australia,9,0.79,0.9875,1.234375,1.234375,967.0,967,0.435625
972,Frieda,Tavinor,Female,43,1999-03-04,NaN,NaN,Affluent Customer,N,No,...,VIC,Australia,6,1.00,1.0000,1.000000,1.000000,972.0,972,0.43
973,Ellwood,Budden,Male,82,1998-06-03,NaN,Health,Mass Customer,N,Yes,...,NSW,Australia,10,0.68,0.8500,1.062500,0.903125,972.0,972,0.43
974,Alex,Patshull,Female,37,1966-01-02,Senior Quality Engineer,Retail,Mass Customer,N,Yes,...,QLD,Australia,5,1.10,1.3750,1.375000,1.168750,974.0,974,0.425
975,Aundrea,Outridge,Female,77,2001-01-24,Structural Engineer,Financial Services,Affluent Customer,N,Yes,...,VIC,Australia,12,0.91,1.1375,1.421875,1.421875,974.0,974,0.425
976,Amby,Bodega,Male,63,1968-06-12,Recruiter,NaN,Affluent Customer,N,Yes,...,VIC,Australia,6,0.73,0.9125,0.912500,0.912500,974.0,974,0.425
977,Esme,Pilipets,Male,15,1967-05-06,Environmental Tech,Health,Mass Customer,N,Yes,...,VIC,Australia,9,0.94,1.1750,1.468750,1.248437,977.0,977,0.42
978,Beverly,Domnick,Female,56,1938-12-10,Structural Analysis Engineer,IT,Mass Customer,N,No,...,NSW,Australia,10,0.50,0.5000,0.625000,0.531250,977.0,977,0.42
979,Artemis,Swanson,Male,77,1977-02-12,Web Designer II,Argiculture,Mass Customer,N,Yes,...,VIC,Australia,5,1.09,1.3625,1.362500,1.158125,979.0,979,0.4165
980,Daryle,Marginson,Male,93,1986-06-27,Environmental Tech,Argiculture,Mass Customer,N,Yes,...,NSW,Australia,12,0.51,0.6375,0.796875,0.677344,979.0,979,0.4165
981,Tyne,Anshell,Female,71,1992-04-08,Mechanical Systems Engineer,NaN,Mass Customer,N,Yes,...,NSW,Australia,8,0.99,1.2375,1.237500,1.051875,979.0,979,0.4165
982,Leona,Shorrock,Female,83,1951-08-23,Senior Quality Engineer,Financial Services,Affluent Customer,N,Yes,...,QLD,Australia,1,0.55,0.6875,0.859375,0.859375,979.0,979,0.4165
983,Bertrando,Carass,Male,45,1956-06-25,Sales Associate,Property,Mass Customer,N,No,...,NSW,Australia,5,0.86,0.8600,0.860000,0.731000,983.0,983,0.41
984,Augusta,Munns,Female,5,1951-09-17,Quality Control Specialist,NaN,Mass Customer,N,No,...,NSW,Australia,11,1.01,1.0100,1.262500,1.073125,983.0,983,0.41
985,Pauline,Dallosso,U,82,NaN,Desktop Support Technician,IT,Affluent Customer,N,Yes,...,NSW,Australia,10,1.09,1.3625,1.703125,1.703125,985.0,985,0.408
986,Lauralee,Fudge,Female,83,1987-09-21,Research Nurse,Health,Mass Customer,N,No,...,VIC,Australia,4,0.45,0.4500,0.562500,0.478125,985.0,985,0.408
987,Consalve,Ballay,Male,41,1959-09-18,Web Developer I,IT,Mass Customer,N,Yes,...,NSW,Australia,8,0.51,0.6375,0.637500,0.541875,987.0,987,0.4
988,Lolly,Prewer,Female,44,1997-10-23,Geologist I,Health,Mass Customer,N,No,...,NSW,Australia,7,0.50,0.5000,0.500000,0.425000,988.0,988,0.3995
989,Vyky,Pegg,Female,64,1943-03-15,Quality Control Specialist,Manufacturing,Mass Customer,N,Yes,...,NSW,Australia,7,1.00,1.2500,1.250000,1.062500,988.0,988,0.3995
990,Kellen,Pawelski,Female,83,1945-07-26,NaN,Manufacturing,High Net Worth,N,Yes,...,NSW,Australia,8,0.98,1.2250,1.531250,1.531250,988.0,988,0.3995
991,Jermaine,Bagshawe,Female,60,1954-05-14,Help Desk Operator,Property,Mass Customer,N,Yes,...,QLD,Australia,6,0.67,0.8375,0.837500,0.711875,988.0,988,0.3995
992,Bryan,Jachtym,Male,59,1974-05-15,Automation Specialist I,Manufacturing,Mass Customer,N,Yes,...,VIC,Australia,3,0.94,1.1750,1.175000,0.998750,988.0,988,0.3995
993,Renie,Laundon,Female,32,1973-12-18,Assistant Media Planner,Entertainment,Mass Customer,N,Yes,...,QLD,Australia,3,0.95,1.1875,1.187500,1.009375,993.0,993,0.391
994,Weidar,Etheridge,Male,38,1959-07-13,Compensation Analyst,Financial Services,Mass Customer,N,Yes,...,NSW,Australia,4,0.81,1.0125,1.012500,0.860625,994.0,994,0.3825
995,Datha,Fishburn,Female,15,1990-07-02,Office Assistant IV,Retail,Mass Customer,N,No,...,VIC,Australia,12,0.58,0.5800,0.725000,0.616250,994.0,994,0.3825
996,Ferdinand,Romanetti,Male,60,1959-10-07,Paralegal,Financial Services,Affluent Customer,N,No,...,NSW,Australia,7,1.05,1.0500,1.050000,1.050000,996.0,996,0.374
997,Burk,Wortley,Male,22,2001-10-17,Senior Sales Associate,Health,Mass Customer,N,No,...,NSW,Australia,10,0.85,0.8500,1.062500,0.903125,997.0,997,0.357
998,Melloney,Temby,Female,17,1954-10-05,Budget/Accounting Analyst IV,Financial Services,Affluent Customer,N,Yes,...,QLD,Australia,2,0.64,0.8000,0.800000,0.800000,997.0,997,0.357
999,Dickie,Cubbini,Male,30,1952-12-17,Financial Advisor,Financial Services,Mass Customer,N,Yes,...,QLD,Australia,2,0.59,0.7375,0.737500,0.626875,997.0,997,0.357
1000,Sylas,Duffill,Male,56,1955-10-02,Staff Accountant IV,Property,Mass Customer,N,Yes,...,NSW,Australia,9,0.73,0.9125,1.140625,0.969531,1000.0,1000,0.34

In [3]:
df = pd.read_excel("KPMG_1.xlsx",sheet_name='NewCustomerList', skiprows=1)
df

,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,...,state,country,property_valuation,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Rank,Value
0,Chickie,Brister,Male,86,1957-07-12,General Manager,Manufacturing,Mass Customer,N,Yes,...,QLD,Australia,6,0.56,0.7000,0.875000,0.743750,1,1,1.718750
1,Morly,Genery,Male,69,1970-03-22,Structural Engineer,Property,Mass Customer,N,No,...,NSW,Australia,11,0.48,0.4800,0.600000,0.510000,1,1,1.718750
2,Ardelis,Forrester,Female,10,1974-08-28,Senior Cost Accountant,Financial Services,Affluent Customer,N,No,...,VIC,Australia,5,0.91,0.9100,0.910000,0.910000,1,1,1.718750
3,Lucine,Stutt,Female,64,1979-01-28,Account Representative III,Manufacturing,Affluent Customer,N,Yes,...,QLD,Australia,1,0.64,0.8000,0.800000,0.800000,4,4,1.703125
4,Melinda,Hadlee,Female,34,1965-09-21,Financial Analyst,Financial Services,Affluent Customer,N,No,...,NSW,Australia,9,0.40,0.4000,0.500000,0.500000,4,4,1.703125
5,Druci,Brandli,Female,39,1951-04-29,Assistant Media Planner,Entertainment,High Net Worth,N,Yes,...,QLD,Australia,7,0.46,0.5750,0.575000,0.575000,6,6,1.671875
6,Rutledge,Hallt,Male,23,1976-10-06,Compensation Analyst,Financial Services,Mass Customer,N,No,...,NSW,Australia,7,0.71,0.7100,0.710000,0.603500,6,6,1.671875
7,Nancie,Vian,Female,74,1972-12-27,Human Resources Assistant II,Retail,Mass Customer,N,Yes,...,QLD,Australia,5,1.00,1.2500,1.250000,1.062500,8,8,1.656250
8,Duff,Karlowicz,Male,50,1972-04-28,Speech Pathologist,Manufacturing,Mass Customer,N,Yes,...,NSW,Australia,10,0.56,0.7000,0.875000,0.743750,8,8,1.656250
9,Barthel,Docket,Male,72,1985-08-02,Accounting Assistant IV,IT,Mass Customer,N,Yes,...,QLD,Australia,5,0.72,0.9000,0.900000,0.765000,10,10,1.640625
10,Rockwell,Matson,Male,94,1995-01-01,Programmer Analyst I,Retail,High Net Worth,N,No,...,QLD,Australia,6,1.02,1.0200,1.275000,1.275000,10,10,1.640625
11,Wheeler,Winward,Male,48,1999-08-30,Environmental Specialist,Manufacturing,Mass Customer,N,No,...,VIC,Australia,8,1.07,1.0700,1.070000,0.909500,12,12,1.625000
12,Olag,NaN,Male,60,1990-05-13,Human Resources Manager,Telecommunications,Mass Customer,N,No,...,NSW,Australia,11,0.45,0.4500,0.562500,0.478125,13,13,1.609375
13,Melba,Spellacy,Female,38,1976-12-09,VP Marketing,Health,Mass Customer,N,No,...,NSW,Australia,10,0.94,0.9400,1.175000,0.998750,14,14,1.593750
14,Mandie,Feares,Female,32,1964-04-19,Clinical Specialist,Health,Mass Customer,N,No,...,QLD,Australia,8,0.86,0.8600,0.860000,0.731000,14,14,1.593750
15,Dukie,Swire,Male,88,1954-03-31,NaN,Manufacturing,Affluent Customer,N,Yes,...,NSW,Australia,8,0.86,1.0750,1.343750,1.343750,16,16,1.562500
16,Marcelia,Monkleigh,Female,61,1993-08-22,Associate Professor,Manufacturing,Mass Customer,N,Yes,...,QLD,Australia,6,0.87,1.0875,1.087500,0.924375,17,17,1.546875
17,Winnifred,Beswetherick,Female,83,1976-06-08,Actuary,Financial Services,Mass Customer,N,No,...,VIC,Australia,10,0.86,0.8600,1.075000,0.913750,17,17,1.546875
18,Odilia,Quick,Female,65,1938-11-09,General Manager,Manufacturing,Affluent Customer,N,Yes,...,NSW,Australia,11,0.93,1.1625,1.453125,1.453125,19,19,1.531250
19,Karly,Willavize,Female,2,1954-08-12,Internal Auditor,Manufacturing,High Net Worth,N,No,...,NSW,Australia,10,0.58,0.5800,0.725000,0.725000,19,19,1.531250
20,Teddie,Burchill,Male,11,1968-12-21,Programmer I,Manufacturing,Mass Customer,N,Yes,...,NSW,Australia,9,0.83,1.0375,1.296875,1.102344,21,21,1.515625
21,Gaston,Dallaghan,Male,44,1993-09-29,Financial Analyst,Financial Services,Mass Customer,N,Yes,...,NSW,Australia,7,0.79,0.9875,0.987500,0.839375,21,21,1.515625
22,Otis,Ottey,Male,26,1998-02-05,Quality Engineer,NaN,Mass Customer,N,No,...,QLD,Australia,4,0.69,0.6900,0.690000,0.586500,23,23,1.500000
23,Tabbatha,Averill,Female,5,1977-12-17,Quality Control Specialist,NaN,Affluent Customer,N,Yes,...,NSW,Australia,8,0.46,0.5750,0.575000,0.575000,23,23,1.500000
24,Brena,Schnitter,Female,78,1982-10-11,Account Executive,Manufacturing,Mass Customer,N,No,...,QLD,Australia,5,0.73,0.7300,0.730000,0.620500,25,25,1.484375
25,Rourke,Gillbard,Male,11,1945-08-03,NaN,Property,Mass Customer,N,No,...,QLD,Australia,4,0.74,0.7400,0.740000,0.629000,26,26,1.468750
26,Dyane,Burwell,Female,19,1952-06-27,Engineer II,Retail,Mass Customer,N,Yes,...,NSW,Australia,2,0.48,0.6000,0.600000,0.510000,26,26,1.468750
27,Claudine,Barstowk,Female,71,1966-07-20,Nurse,Property,High Net Worth,N,Yes,...,QLD,Australia,11,0.57,0.7125,0.890625,0.890625,26,26,1.468750
28,Blinnie,Roze,Female,84,1960-12-10,Librarian,Entertainment,High Net Worth,N,No,...,QLD,Australia,7,0.47,0.4700,0.587500,0.587500,26,26,1.468750
29,Rhona,De Freyne,Female,45,1960-11-22,NaN,Health,High Net Worth,N,No,...,VIC,Australia,10,0.52,0.5200,0.650000,0.650000,30,30,1.460938
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,Mavra,Finan,Female,30,1967-08-23,Nurse,Property,Affluent Customer,N,Yes,...,NSW,Australia,9,0.79,0.9875,1.234375,1.234375,967,967,0.435625
971,Frieda,Tavinor,Female,43,1999-03-04,NaN,NaN,Affluent Customer,N,No,...,VIC,Australia,6,1.00,1.0000,1.000000,1.000000,972,972,0.430000
972,Ellwood,Budden,Male,82,1998-06-03,NaN,Health,Mass Customer,N,Yes,...,NSW,Australia,10,0.68,0.8500,1.062500,0.903125,972,972,0.430000
973,Alex,Patshull,Female,37,1966-01-02,Senior Quality Engineer,Retail,Mass Customer,N,Yes,...,QLD,Australia,5,1.10,1.3750,1.375000,1.168750,974,974,0.425000
974,Aundrea,Outridge,Female,77,2001-01-24,Structural Engineer,Financial Services,Affluent Customer,N,Yes,...,VIC,Australia,12,0.91,1.1375,1.421875,1.421875,974,974,0.425000
975,Amby,Bodega,Male,63,1968-06-12,Recruiter,NaN,Affluent Customer,N,Yes,...,VIC,Australia,6,0.73,0.9125,0.912500,0.912500,974,974,0.425000
976,Esme,Pilipets,Male,15,1967-05-06,Environmental Tech,Health,Mass Customer,N,Yes,...,VIC,Australia,9,0.94,1.1750,1.468750,1.248437,977,977,0.420000
977,Beverly,Domnick,Female,56,1938-12-10,Structural Analysis Engineer,IT,Mass Customer,N,No,...,NSW,Australia,10,0.50,0.5000,0.625000,0.531250,977,977,0.420000
978,Artemis,Swanson,Male,77,1977-02-12,Web Designer II,Argiculture,Mass Customer,N,Yes,...,VIC,Australia,5,1.09,1.3625,1.362500,1.158125,979,979,0.416500
979,Daryle,Marginson,Male,93,1986-06-27,Environmental Tech,Argiculture,Mass Customer,N,Yes,...,NSW,Australia,12,0.51,0.6375,0.796875,0.677344,979,979,0.416500
980,Tyne,Anshell,Female,71,1992-04-08,Mechanical Systems Engineer,NaN,Mass Customer,N,Yes,...,NSW,Australia,8,0.99,1.2375,1.237500,1.051875,979,979,0.416500
981,Leona,Shorrock,Female,83,1951-08-23,Senior Quality Engineer,Financial Services,Affluent Customer,N,Yes,...,QLD,Australia,1,0.55,0.6875,0.859375,0.859375,979,979,0.416500
982,Bertrando,Carass,Male,45,1956-06-25,Sales Associate,Property,Mass Customer,N,No,...,NSW,Australia,5,0.86,0.8600,0.860000,0.731000,983,983,0.410000
983,Augusta,Munns,Female,5,1951-09-17,Quality Control Specialist,NaN,Mass Customer,N,No,...,NSW,Australia,11,1.01,1.0100,1.262500,1.073125,983,983,0.410000
984,Pauline,Dallosso,U,82,NaT,Desktop Support Technician,IT,Affluent Customer,N,Yes,...,NSW,Australia,10,1.09,1.3625,1.703125,1.703125,985,985,0.408000
985,Lauralee,Fudge,Female,83,1987-09-21,Research Nurse,Health,Mass Customer,N,No,...,VIC,Australia,4,0.45,0.4500,0.562500,0.478125,985,985,0.408000
986,Consalve,Ballay,Male,41,1959-09-18,Web Developer I,IT,Mass Customer,N,Yes,...,NSW,Australia,8,0.51,0.6375,0.637500,0.541875,987,987,0.400000
987,Lolly,Prewer,Female,44,1997-10-23,Geologist I,Health,Mass Customer,N,No,...,NSW,Australia,7,0.50,0.5000,0.500000,0.425000,988,988,0.399500
988,Vyky,Pegg,Female,64,1943-03-15,Quality Control Specialist,Manufacturing,Mass Customer,N,Yes,...,NSW,Australia,7,1.00,1.2500,1.250000,1.062500,988,988,0.399500
989,Kellen,Pawelski,Female,83,1945-07-26,NaN,Manufacturing,High Net Worth,N,Yes,...,NSW,Australia,8,0.98,1.2250,1.531250,1.531250,988,988,0.399500
990,Jermaine,Bagshawe,Female,60,1954-05-14,Help Desk Operator,Property,Mass Customer,N,Yes,...,QLD,Australia,6,0.67,0.8375,0.837500,0.711875,988,988,0.399500
991,Bryan,Jachtym,Male,59,1974-05-15,Automation Specialist I,Manufacturing,Mass Customer,N,Yes,...,VIC,Australia,3,0.94,1.1750,1.175000,0.998750,988,988,0.399500
992,Renie,Laundon,Female,32,1973-12-18,Assistant Media Planner,Entertainment,Mass Customer,N,Yes,...,QLD,Australia,3,0.95,1.1875,1.187500,1.009375,993,993,0.391000
993,Weidar,Etheridge,Male,38,1959-07-13,Compensation Analyst,Financial Services,Mass Customer,N,Yes,...,NSW,Australia,4,0.81,1.0125,1.012500,0.860625,994,994,0.382500
994,Datha,Fishburn,Female,15,1990-07-02,Office Assistant IV,Retail,Mass Customer,N,No,...,VIC,Australia,12,0.58,0.5800,0.725000,0.616250,994,994,0.382500
995,Ferdinand,Romanetti,Male,60,1959-10-07,Paralegal,Financial Services,Affluent Customer,N,No,...,NSW,Australia,7,1.05,1.0500,1.050000,1.050000,996,996,0.374000
996,Burk,Wortley,Male,22,2001-10-17,Senior Sales Associate,Health,Mass Customer,N,No,...,NSW,Australia,10,0.85,0.8500,1.062500,0.903125,997,997,0.357000
997,Melloney,Temby,Female,17,1954-10-05,Budget/Accounting Analyst IV,Financial Services,Affluent Customer,N,Yes,...,QLD,Australia,2,0.64,0.8000,0.800000,0.800000,997,997,0.357000
998,Dickie,Cubbini,Male,30,1952-12-17,Financial Advisor,Financial Services,Mass Customer,N,Yes,...,QLD,Australia,2,0.59,0.7375,0.737500,0.626875,997,997,0.357000
999,Sylas,Duffill,Male,56,1955-10-02,Staff Accountant IV,Property,Mass Customer,N,Yes,...,NSW,Australia,9,0.73,0.9125,1.140625,0.969531,1000,1000,0.340000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 23 columns):
first_name                             1000 non-null object
last_name                              971 non-null object
gender                                 1000 non-null object
past_3_years_bike_related_purchases    1000 non-null int64
DOB                                    983 non-null datetime64[ns]
job_title                              894 non-null object
job_industry_category                  835 non-null object
wealth_segment                         1000 non-null object
deceased_indicator                     1000 non-null object
owns_car                               1000 non-null object
tenure                                 1000 non-null int64
address                                1000 non-null object
postcode                               1000 non-null int64
state                                  1000 non-null object
country                                1000 non-null object
property_valuation                     1000 non-null int64
Unnamed: 16                            1000 non-null float64
Unnamed: 17                            1000 non-null float64
Unnamed: 18                            1000 non-null float64
Unnamed: 19                            1000 non-null float64
Unnamed: 20                            1000 non-null int64
Rank                                   1000 non-null int64
Value                                  1000 non-null float64
dtypes: datetime64[ns](1), float64(5), int64(6), object(11)
memory usage: 179.8+ KB

In [5]:
#Drop unamed columns
cols = ['Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19','Unnamed: 20']
df = df.drop(cols, axis=1)

In [6]:
df.isnull().sum()

first_name                               0
last_name                               29
gender                                   0
past_3_years_bike_related_purchases      0
DOB                                     17
job_title                              106
job_industry_category                  165
wealth_segment                           0
deceased_indicator                       0
owns_car                                 0
tenure                                   0
address                                  0
postcode                                 0
state                                    0
country                                  0
property_valuation                       0
Rank                                     0
Value                                    0
dtype: int64

In [7]:
df.duplicated().sum()

0

In [8]:
df.columns

Index(['first_name', 'last_name', 'gender',
       'past_3_years_bike_related_purchases', 'DOB', 'job_title',
       'job_industry_category', 'wealth_segment', 'deceased_indicator',
       'owns_car', 'tenure', 'address', 'postcode', 'state', 'country',
       'property_valuation', 'Rank', 'Value'],
      dtype='object')

In [9]:
df['gender'].value_counts()

Female    513
Male      470
U          17
Name: gender, dtype: int64

In [11]:
#replace U with 'Unspecified'
df['gender'].str.replace('U','Unspecified')

0             Male
1             Male
2           Female
3           Female
4           Female
5           Female
6             Male
7           Female
8             Male
9             Male
10            Male
11            Male
12            Male
13          Female
14          Female
15            Male
16          Female
17          Female
18          Female
19          Female
20            Male
21            Male
22            Male
23          Female
24          Female
25            Male
26          Female
27          Female
28          Female
29          Female
          ...
970         Female
971         Female
972           Male
973         Female
974         Female
975           Male
976           Male
977         Female
978           Male
979           Male
980         Female
981         Female
982           Male
983         Female
984    Unspecified
985         Female
986           Male
987         Female
988         Female
989         Female
990         Female
991           Male
992         Female
993           Male
994         Female
995           Male
996           Male
997         Female
998           Male
999           Male
Name: gender, Length: 1000, dtype: object

In [12]:
df['DOB'].describe()

count                     983
unique                    958
top       1961-07-31 00:00:00
freq                        2
first     1938-06-08 00:00:00
last      2002-02-27 00:00:00
Name: DOB, dtype: object

In [13]:
df['job_title'].value_counts()

Associate Professor                     15
Environmental Tech                      14
Software Consultant                     14
Chief Design Engineer                   13
Assistant Media Planner                 12
VP Sales                                12
Senior Sales Associate                  12
Cost Accountant                         12
Assistant Manager                       12
Junior Executive                        11
VP Marketing                            11
Account Executive                       11
Payment Adjustment Coordinator          11
Environmental Specialist                11
Social Worker                           11
VP Quality Control                      11
Nurse Practicioner                      11
Human Resources Manager                 10
Product Engineer                        10
Librarian                               10
Financial Analyst                       10
Structural Engineer                     10
Chemical Engineer                       10
Business Systems Development Analyst    10
Dental Hygienist                        10
Nurse                                    9
Recruiting Manager                       9
General Manager                          9
Marketing Manager                        9
Structural Analysis Engineer             9
                                        ..
Computer Systems Analyst III             1
Accounting Assistant IV                  1
Systems Administrator III                1
Safety Technician I                      1
Staff Accountant II                      1
Safety Technician IV                     1
Research Assistant I                     1
Database Administrator I                 1
Budget/Accounting Analyst II             1
Accounting Assistant III                 1
Human Resources Assistant I              1
Staff Accountant I                       1
Systems Administrator IV                 1
Software Test Engineer II                1
Engineer II                              1
Administrative Officer                   1
Software Test Engineer III               1
Database Administrator IV                1
Automation Specialist IV                 1
Human Resources Assistant III            1
Account Representative II                1
Budget/Accounting Analyst I              1
Computer Systems Analyst II              1
Systems Administrator I                  1
Accounting Assistant II                  1
Safety Technician II                     1
Web Developer II                         1
Programmer Analyst IV                    1
Developer II                             1
Statistician IV                          1
Name: job_title, Length: 184, dtype: int64

In [14]:
df['job_title']=df['job_title'].fillna(method='bfill')

In [15]:
df['job_industry_category'].value_counts()

Financial Services    203
Manufacturing         199
Health                152
Retail                 78
Property               64
IT                     51
Entertainment          37
Argiculture            26
Telecommunications     25
Name: job_industry_category, dtype: int64

In [16]:
df['job_industry_category']=df['job_industry_category'].fillna(method='bfill')

In [17]:
df['last_name']=df['last_name'].fillna(method='ffill')

In [18]:
df['DOB']=df['DOB'].fillna(method='ffill')

In [19]:
df.head(10)

,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,tenure,address,postcode,state,country,property_valuation,Rank,Value
0,Chickie,Brister,Male,86,1957-07-12,General Manager,Manufacturing,Mass Customer,N,Yes,14,45 Shopko Center,4500,QLD,Australia,6,1,1.718750
1,Morly,Genery,Male,69,1970-03-22,Structural Engineer,Property,Mass Customer,N,No,16,14 Mccormick Park,2113,NSW,Australia,11,1,1.718750
2,Ardelis,Forrester,Female,10,1974-08-28,Senior Cost Accountant,Financial Services,Affluent Customer,N,No,10,5 Colorado Crossing,3505,VIC,Australia,5,1,1.718750
3,Lucine,Stutt,Female,64,1979-01-28,Account Representative III,Manufacturing,Affluent Customer,N,Yes,5,207 Annamark Plaza,4814,QLD,Australia,1,4,1.703125
4,Melinda,Hadlee,Female,34,1965-09-21,Financial Analyst,Financial Services,Affluent Customer,N,No,19,115 Montana Place,2093,NSW,Australia,9,4,1.703125
5,Druci,Brandli,Female,39,1951-04-29,Assistant Media Planner,Entertainment,High Net Worth,N,Yes,22,89105 Pearson Terrace,4075,QLD,Australia,7,6,1.671875
6,Rutledge,Hallt,Male,23,1976-10-06,Compensation Analyst,Financial Services,Mass Customer,N,No,8,7 Nevada Crossing,2620,NSW,Australia,7,6,1.671875
7,Nancie,Vian,Female,74,1972-12-27,Human Resources Assistant II,Retail,Mass Customer,N,Yes,10,85 Carioca Point,4814,QLD,Australia,5,8,1.656250
8,Duff,Karlowicz,Male,50,1972-04-28,Speech Pathologist,Manufacturing,Mass Customer,N,Yes,5,717 West Drive,2200,NSW,Australia,10,8,1.656250
9,Barthel,Docket,Male,72,1985-08-02,Accounting Assistant IV,IT,Mass Customer,N,Yes,17,80 Scofield Junction,4151,QLD,Australia,5,10,1.640625

In [24]:
submission = pd.DataFrame({
        "first_name": df["first_name"],
        "last_name": df["last_name"],
        "gender": df["gender"],
        "past_3_years_bike_related_purchases": df["past_3_years_bike_related_purchases"],
        "DOB": df["DOB"],
        "job_title": df["job_title"],
        "job_industry_category": df["job_industry_category"],
        "wealth_segment": df["wealth_segment"],
        "deceased_indicator": df["deceased_indicator"],
        "owns_car": df["owns_car"],
        "tenure": df["tenure"],
        "address": df["address"],
        "postcode": df["postcode"],
        "state": df["state"],
        "country": df["country"],
        "property_valuation": df["property_valuation"],
        "Rank": df["Rank"],
        "Value": df["Value"]
    })
submission.to_csv('./submission_NewCustomerList.csv', index=False)
print(submission.head(10))

  first_name  last_name  gender  past_3_years_bike_related_purchases  \
0    Chickie    Brister    Male                                   86
1      Morly     Genery    Male                                   69
2    Ardelis  Forrester  Female                                   10
3     Lucine      Stutt  Female                                   64
4    Melinda     Hadlee  Female                                   34
5      Druci    Brandli  Female                                   39
6   Rutledge      Hallt    Male                                   23
7     Nancie       Vian  Female                                   74
8       Duff  Karlowicz    Male                                   50
9    Barthel     Docket    Male                                   72

         DOB                     job_title job_industry_category  \
0 1957-07-12               General Manager         Manufacturing
1 1970-03-22           Structural Engineer              Property
2 1974-08-28        Senior Cost Accountant    Financial Services
3 1979-01-28    Account Representative III         Manufacturing
4 1965-09-21             Financial Analyst    Financial Services
5 1951-04-29       Assistant Media Planner         Entertainment
6 1976-10-06          Compensation Analyst    Financial Services
7 1972-12-27  Human Resources Assistant II                Retail
8 1972-04-28            Speech Pathologist         Manufacturing
9 1985-08-02       Accounting Assistant IV                    IT

      wealth_segment deceased_indicator owns_car  tenure  \
0      Mass Customer                  N      Yes      14
1      Mass Customer                  N       No      16
2  Affluent Customer                  N       No      10
3  Affluent Customer                  N      Yes       5
4  Affluent Customer                  N       No      19
5     High Net Worth                  N      Yes      22
6      Mass Customer                  N       No       8
7      Mass Customer                  N      Yes      10
8      Mass Customer                  N      Yes       5
9      Mass Customer                  N      Yes      17

                 address  postcode state    country  property_valuation  Rank  \
0       45 Shopko Center      4500   QLD  Australia                   6     1
1      14 Mccormick Park      2113   NSW  Australia                  11     1
2    5 Colorado Crossing      3505   VIC  Australia                   5     1
3     207 Annamark Plaza      4814   QLD  Australia                   1     4
4      115 Montana Place      2093   NSW  Australia                   9     4
5  89105 Pearson Terrace      4075   QLD  Australia                   7     6
6      7 Nevada Crossing      2620   NSW  Australia                   7     6
7       85 Carioca Point      4814   QLD  Australia                   5     8
8         717 West Drive      2200   NSW  Australia                  10     8
9   80 Scofield Junction      4151   QLD  Australia                   5    10

      Value
0  1.718750
1  1.718750
2  1.718750
3  1.703125
4  1.703125
5  1.671875
6  1.671875
7  1.656250
8  1.656250
9  1.640625